@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.big-box {
    background-image: url("bgpokemon.jpg");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position:  center;
}

.logo-box {
    background-image: url("pokedle-logo.png");
    height: 200px;
    background-size: contain;                     
    background-repeat: no-repeat;
    background-position:  center;
}

.box {
    border: 1px solid black;
    padding: 10px;
    background-color: aqua;
    box-sizing:border-box
}